<h1>Homepage</h1>
<a href="/signup">Sign up</a>
<a href="/login">Log in</a>
<a href="/logout">Log out</a>
<a href="/membership">Acquire membership</a>
<% if(isLoggedIn) { %>
<a href="/newmessage">Create new message</a>
<% } %>
