<h1><%= title %></h1>
<form method="post">
  <label for="title">Title: </label>
  <input type="text" id="title" name="title" value="<%= !locals.message ? "" :
  message.title %>" required />
  <label for="message">New message: </label>
  <textarea id="message" name="message" cols="30" rows="10" required>
<%= !locals.message ? "" : message.message %></textarea
  >
  <button type="submit">Submit</button>
</form>
<% if(local.errors) { %>
<ul>
  <% for(let error of errors) { %>
  <li><%= error.msg %></li>
  <% } %>
</ul>
<% } %>
